<h2>Expense Form</h2>

<input id="desc" value={{@inputVal}} placeholder="Description" oninput={{action "onInput"}} onkeypress={{action "enterHandler"}}>
<button {{action "addExpense"}}>Submit</button>