<div class="summary-pane">
		<div class="total-tile">
				<div>Total Expenses</div>
				<div class="total">${{@total}}</div>
		</div>

		{{#each @summaries as |summary|}}
				<div class="summary-tile">
						<div>{{summary.category}}</div>
						<div class="summary">${{summary.cost}}</div>
				</div>
		{{/each}}
</div>