<h2>Summary Pane</h2>

<h3>Total Expenses</h3>
<div class="total">{{@total}}</div>

{{#each @summaries as |summary|}}
		<div class="summary">
				<div>{{summary.category}}</div>
				<div>{{summary.cost}}</div>
		</div>
{{/each}}